<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>M2 THYP </title>
    <script src="https://d3js.org/d3.v6.min.js"></script>
    
    <style>
    </style>
<body>

  <div class="row" id="etuCards" >  
   
  </div>

</body>

<script>

let urlDataStudents="http://localhost/omeka-s/api/items?item_set_id=26";
let urlDataProfs="http://localhost/omeka-s/api/items?item_set_id=27";
let urlDataQuestions="http://localhost/omeka-s/api/items?item_set_id=28";
let urlDataResponses="http://localhost/omeka-s/api/items?item_set_id=29";

d3.json(urlDataStudents).then(function(data) {
var c = d3.select('#etuCards').selectAll(".card mb-3").data(data).enter().append(c)
                .append('div').style('margin-left','20px');
                c.append("img").attr("src","data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22318%22%20height%3D%22180%22%20viewBox%3D%220%200%20318%20180%22%20preserveAspectRatio%3D%22none%22%3E%3C!--%0ASource%20URL%3A%20holder.js%2F100px180%2F%0ACreated%20with%20Holder.js%202.8.2.%0ALearn%20more%20at%20http%3A%2F%2Fholderjs.com%0A(c)%202012-2015%20Ivan%20Malopinsky%20-%20http%3A%2F%2Fimsky.co%0A--%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%3C!%5BCDATA%5B%23holder_153cdb63a13%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A16pt%20%7D%20%5D%5D%3E%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_153cdb63a13%22%3E%3Crect%20width%3D%22318%22%20height%3D%22180%22%20fill%3D%22%23777%22%2F%3E%3Cg%3E%3Ctext%20x%3D%22118.0859375%22%20y%3D%2297.35%22%3E318x180%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E")
                .attr("data-holder-rendered","true");
                c.append("h4")
                .html(d=>{ 
                  console.log(d);
                  let v=d["foaf:family_name"][0]["@value"]+" "+d["foaf:firstName"][0]["@value"]
                  return v;
                        })
                .on("click",function(d){
                            show(d);
                                       })
                c.append("h6")
                .html(d=>{ 
                  console.log(d);
                  let v=d["bibo:degree"][0]["@value"]
                  return v;
                        })
                .on("click",function(d){
                            show(d);
                                       })
              
                c.append("a").attr("href","#").attr("click","open()")
                .append("img").attr("src","https://img.icons8.com/ios/452/development-skill.png").style("width","30px")
                .attr("data-holder-rendered","true")
                .html(d=>{ 
                })
                 .on("click",function(){
                  el = document.getElementById("open");
                  el.style.visibility = (el.style.visibility == "visible") ? "hidden" : "visible";
                               })
                ;
                c.append("div").attr("id","open").attr("style"," visibility: hidden;position: absolute;left: 0;top: 0;width:100%;height:100%;text-align:center;z-index: 1000;")
                .append("div").attr("style","width:350px;height: 200px;  margin: 100px auto;background-color: white;border-radius: 10px;-webkit-border-radius: 10px;-moz-border-radius:  10px;border:1px solid #666666;padding:15px;text-align:center;font-weight: bold;font-size: 15px;border: 3px solid #cccccc;position: absolute;left: 50%;top: 100px;transform: translate(-50%, -50%);-ms-transform: translate(-50%, -50%);-webkit-transform: translate(-50%, -50%);")
                .append("div").append("h2").attr('style',"font-size: 20px; color: blue;")
                .html(d=>{ 
                  console.log(d);
                  let v=d["foaf:family_name"][0]["@value"]+" "+d["foaf:firstName"][0]["@value"]
                  return "les compétences techniques";
                        })
                .on("click",function(d){
                            show(d);
                                       })
                .append('a').attr('href','#close').attr('title','Close').attr('class','close').attr("click","open()").attr("style","background: #606061;color: #FFFFFF;line-height: 25px;position: absolute;right: -12px;text-align: center;top: -10px;width: 24px;text-decoration: none;font-weight: bold;-webkit-border-radius: 12px;-moz-border-radius: 12px;border-radius: 12px;-moz-box-shadow: 1px 1px 3px #000;-webkit-box-shadow: 1px 1px 3px #000;box-shadow: 1px 1px 3px #000;")
                .append("p").html('x')
                .on("click",function(){
                  el = document.getElementById("open");
                  el.style.visibility = (el.style.visibility == "visible") ? "hidden" : "visible";
                               })
                ;
                c.append('div').style('margin-bottom','20px');
                c.append("div").attr("id","#openStudent").attr("class","modelDialog");
                c.append('div')
                
                c.append("a").attr("class","close").attr("href","#close")
                                                      
                c.append("a").attr('class','btn btn-light').attr('href','https://mail.google.com/mail/u/0/#inbox?compose=new').style('margin-bottom','20px')
                .html(d=>{ 
                  console.log(d);
                  let v=d["foaf:mbox"][0]["@value"]
                  return v;
                        })
                .on("click",function(d){
                            show(d);
                                       })
;
                
});




/* d3.json(urlDataProfs).then(function(data) {
  d3.select('#dataProfs').selectAll('div').data(data).enter().append('div')
      .html(d=>{ 
        let v=d["foaf:familyName"][0]["@value"]+" "+d["foaf:firstName"][0]["@value"]
        return v;

      })
      .on("click",function(d){
        show(d);
      });
      
});

d3.json(urlDataQuestions).then(function(data) {
  d3.select('#dataQuestions').selectAll('div').data(data).enter().append('div')
      .html(d=>d["dcterms:description"][0]["@value"]);
});

d3.json(urlDataResponses).then(function(data) {
  d3.select('#dataResponses').selectAll('div').data(data).enter().append('div')
      .html(d=>d["dcterms:description"][0]["@value"]);
}); */
function show(d){
  console.log(d);
}
</script>
</html>
